<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>bloom.css</title>
  <meta name="description" content="A minimalistic css framework to make your projects flourish.">
  <meta name="viewport" content="width=device-width">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/grayscale.min.css">
  <link rel="stylesheet" href="assets/css/docs.min.css">
  <!-- End of Stylesheets -->
</head>
<body>
  <div class="grid-row">
    <div class="grid-column -xsmall-12">
      <div class="dochead">
        <div class="dochead-logo">
          <a class="logo" href="/" title="bloom.css"><img src="/assets/imgs/logo.png" alt="bloom.css"></a>
        </div>

        <div class="dochead-actions">
          <a href="/" class="button -small -blue" title="Download"><i class="icon -download"></i> Download</a>
          <a href="/" class="button -small -teal" title="Github"><i class="icon -github"></i> Github</a>

          <!-- ADD BOWER/NPM INSTALL -->
        </div>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-column -large-6">
      <div class="doccards">
        <!-- <% include partials/_typography.ejs %>
        <% include partials/_tables.ejs %>
        <% include partials/_buttons.ejs %>
        <% include partials/_icons.ejs %>
        <% include partials/_visibility.ejs %> -->
      </div>
    </div>

    <div class="grid-column -large-6">
      <div class="doccards">
        <!-- <% include partials/_images.ejs %>
        <% include partials/_forms.ejs %>
        <% include partials/_grid.ejs %> -->
      </div>
    </div>
  </div>

  <!-- Javascripts -->
  <script src="assets/js/vendor.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script src="assets/js/scripts.min.js"></script>
  <!-- End of Javascripts -->
</body>
</html>
