<div class="doccard">
  <div class="doccard-title">
    Alerts
  </div>

  <div class="doccard-content panel">
    <div class="alerts">
      <div class="alert">Incididunt ut labore et dolore magna</div>
      <div class="alert -success">Incididunt ut labore et dolore magna</div>
      <div class="alert -error">Incididunt ut labore et dolore magna</div>
      <div class="alert -teal">Incididunt ut labore et dolore magna</div>
      <div class="alert -orange">Incididunt ut labore et dolore magna</div>
    </div>

<pre class="dochighlight"><code class="html">
<div class="alerts">
  <div class="alert">...</div>
  <div class="alert -success">...</div>
  <div class="alert -error">...</div>
  <div class="alert -teal">...</div>
  <div class="alert -orange">...</div>
</div>
</code></pre>
  </div>
</div>
