<div class="doccard">
  <div class="doccard-title">
    Buttons
  </div>

  <div class="doccard-content panel">
    <p>
      <button>Button</button>
      <input type="submit" value="Submit">
      <button type="submit">Submit</button>
      <button type="reset">Reset</button>
      <a href="#" class="button">Link</a>
    </p>

<pre class="dochighlight"><code class="html">
<button>Button</button>
<input type="submit" value="Submit">
<button type="submit">Submit</button>
<button type="reset">Reset</button>
<a href="#" class="button">Link</a>
</code></pre>

    <div class="doccard-section">Sizes</div>

    <p style="line-height: 2.5rem">
      <button class="button -xsmall">xsmall</button>
      <button class="button -small">small</button>
      <button class="button -medium">medium</button>
      <button class="button -large">large</button>
    </p>

<pre class="dochighlight"><code class="html">
<button class="button -xsmall">xsmall</button>
<button class="button -small">small</button>
<button class="button -medium">medium</button>
<button class="button -large">large</button>
</code></pre>

    <div class="doccard-section">Hollow</div>

    <p style="line-height: 2.5rem">
      <button class="button -hollow">Button</button>
      <input type="submit" value="Submit" class="button -hollow">
      <button type="submit" class="button -hollow">Submit</button>
      <button type="reset" class="button -hollow">Reset</button>
      <a href="#" class="button -hollow">Link</a>
    </p>

<pre class="dochighlight"><code class="html">
<button class="button -hollow">hollow</button>
</code></pre>


    <div class="doccard-section">Colors</div>

    <p style="line-height: 2.5rem">
      <button class="button -primary -small">-primary</button>
      <button class="button -secondary -small">-secondary</button>
      <button class="button -success -small">-success</button>
      <button class="button -error -small">-error</button>

      <br>
      <button class="button -primary -hollow -small">-primary</button>
      <button class="button -secondary -hollow -small">-secondary</button>
      <button class="button -success -hollow -small">-success</button>
      <button class="button -error -hollow -small">-error</button>
    </p>

    <p style="line-height: 2.5rem">
      <button class="button -yellow -small">-yellow</button>
      <button class="button -orange -small">-orange</button>
      <button class="button -red -small">-red</button>
      <button class="button -magenta -small">-magenta</button>
      <button class="button -blue -small">-blue</button>
      <button class="button -green -small">-green</button>
      <button class="button -turquoise -small">-turquoise</button>
      <button class="button -teal -small">-teal</button>

      <br>
      <button class="button -hollow -yellow -small">-yellow</button>
      <button class="button -hollow -orange -small">-orange</button>
      <button class="button -hollow -red -small">-red</button>
      <button class="button -hollow -magenta -small">-magenta</button>
      <button class="button -hollow -blue -small">-blue</button>
      <button class="button -hollow -green -small">-green</button>
      <button class="button -hollow -turquoise -small">-turquoise</button>
      <button class="button -hollow -teal -small">-teal</button>
    </p>

<pre class="dochighlight"><code class="html">
<button class="button -magenta">magenta</button>
<button class="button -primary">primary</button>
</code></pre>

    <div class="doccard-section">Icons</div>

    <p style="line-height: 2.5rem">
      <button class="button -xsmall"><i class="icon -heart"></i>xsmall</button>
      <button class="button -small"><i class="icon -heart"></i>small</button>
      <button class="button -medium"><i class="icon -heart"></i>medium</button>
      <button class="button -large"><i class="icon -heart"></i>large</button>
    </p>

    <p style="line-height: 2.5rem">
      <button class="button -hollow -large"><i class="icon -heart"></i>large</button>
      <button class="button -hollow -medium"><i class="icon -heart"></i>medium</button>
      <button class="button -hollow -small"><i class="icon -heart"></i>small</button>
      <button class="button -hollow -xsmall"><i class="icon -heart"></i>xsmall</button>
    </p>

<pre class="dochighlight"><code class="html">
<button class="button"><i class="icon -heart"></i> ...</button>
</code></pre>

    <p style="line-height: 2.5rem">
      <button class="button -hollow -medium -icon -red"><i class="icon -heart"></i></button>
      <button class="button -medium -icon -magenta"><i class="icon -heart"></i></button>
    </p>

<pre class="dochighlight"><code class="html">
<button class="button -icon"><i class="icon -heart"></i></button>
</code></pre>

    <div class="doccard-section">Groups</div>

    <p style="line-height: 2.5rem">
      <span class="buttons -small -teal -icon">
        <button class="button"><i class="icon -file"></i></button>
        <button class="button"><i class="icon -tasks"></i></button>
        <button class="button"><i class="icon -pencil"></i></button>
        <button class="button"><i class="icon -trash"></i></button>
      </span>

      <span class="buttons">
        <button class="button -small -blue -icon"><i class="icon -file"></i></button>
        <button class="button -small -blue -icon"><i class="icon -tasks"></i></button>
        <button class="button -small -blue -icon"><i class="icon -pencil"></i></button>
        <button class="button -small -blue -icon"><i class="icon -trash"></i></button>
      </span>

      <span class="buttons -small -teal -icon">
        <button class="button"><i class="icon -twitter"></i></button>
      </span>

      <span class="buttons">
        <button class="button -small -blue -icon"><i class="icon -facebook"></i></button>
      </span>
    </p>

    <p style="line-height: 2.5rem">
      <span class="buttons -small -teal -icon -hollow">
        <button class="button"><i class="icon -file"></i></button>
        <button class="button"><i class="icon -tasks"></i></button>
        <button class="button"><i class="icon -pencil"></i></button>
        <button class="button"><i class="icon -trash"></i></button>
      </span>

      <span class="buttons">
        <button class="button -small -blue -icon -hollow"><i class="icon -file"></i></button>
        <button class="button -small -blue -icon -hollow"><i class="icon -tasks"></i></button>
        <button class="button -small -blue -icon -hollow"><i class="icon -pencil"></i></button>
        <button class="button -small -blue -icon -hollow"><i class="icon -trash"></i></button>
      </span>

      <span class="buttons -small -teal -icon -hollow">
        <button class="button"><i class="icon -twitter"></i></button>
      </span>

      <span class="buttons">
        <button class="button -small -blue -icon -hollow"><i class="icon -facebook"></i></button>
      </span>
    </p>

<pre class="dochighlight"><code class="html">
<div class="buttons -small -teal -icon">
  <button class="button"><i class="icon -twitter"></i></button>
  ...
</div>

<!-- OR -->

<div class="buttons">
  <button class="button -small -blue -icon"><i class="icon -facebook"></i></button>
  ...
</div>
</code></pre>
  </div>
</div>
