<div class="doccard-section">Disabled state</div>

<form class="form" action="">
  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field">
        <label>Name</label>
        <input type="text" placeholder="Enter name" disabled>
      </div>
    </div>

    <div class="grid-column">
      <div class="field">
        <label>Select Menu</label>
        <select disabled>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
      </div>
    </div>
  </div>

  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field">
        <label>Checkbox options</label>
        <input type="checkbox" disabled><label>Checkbox 1</label>
        <input type="checkbox" disabled><label>Checkbox 2</label>
      </div>
    </div>

    <div class="grid-column">
      <div class="field">
        <label>Radio options</label>
        <input type="radio" name="test" value="1" disabled><label>Radio 1</label>
        <input type="radio" name="test" value="2" disabled><label>Radio 2</label>
      </div>
    </div>
  </div>

  <div class="field">
    <label>Textarea</label>
    <textarea placeholder="textarea" disabled></textarea>
  </div>

  <div class="field">
    <label>Multiple options</label>
    <select name="select-multi" multiple="multiple" size="4" disabled>
      <optgroup label="Group 1">
        <option value="1">Some text goes here</option>
        <option value="2">Some text goes here</option>
        <option value="3">Some text goes here</option>
      </optgroup>
      <optgroup label="Group 2">
        <option value="4">Some text goes here</option>
        <option value="5">Some text goes here</option>
        <option value="6">Some text goes here</option>
      </optgroup>
    </select>
  </div>
</form>

<pre class="dochighlight"><code class="html">
<input type="text" disabled="disabled">

<select disabled="disabled">
  <option value="1">Option 1</option>
</select>
</code></pre>
