<div class="doccard">
  <div class="doccard-title">
    Forms
  </div>

  <div class="doccard-content">
    <% include _forms-full.ejs %>
    <% include _forms-fieldset.ejs %>
    <% include _forms-disabled.ejs %>
    <% include _forms-sizes.ejs %>
    <% include _forms-loading.ejs %>
    <% include _forms-states.ejs %>
  </div>
</div>
