<form class="form" action="">
  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field">
        <label>Email address</label>
        <input type="email" placeholder="Enter email">
        <span class="field-help">Some help text</span>
      </div>
    </div>

    <div class="grid-column">
      <div class="field">
        <label>Name</label>
        <input type="text" placeholder="Enter name">
      </div>
    </div>
  </div>

  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field">
        <label>Password</label>
        <input type="password" placeholder="Password">
      </div>
    </div>

    <div class="grid-column">
      <div class="field">
        <label>Select Menu</label>
        <select>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
      </div>
    </div>
  </div>

  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field">
        <label>Checkbox options</label>
        <input type="checkbox"><label>Checkbox 1</label>
        <input type="checkbox"><label>Checkbox 2</label>
        <span class="field-help">Some help text</span>
      </div>
    </div>

    <div class="grid-column">
      <div class="field">
        <label>Radio options</label>
        <input type="radio" name="test" value="1" required><label>Radio 1</label>
        <input type="radio" name="test" value="2"><label>Radio 2</label>
      </div>
    </div>
  </div>

  <div class="field">
    <label>Misc field</label>

    <div class="grid-row">
      <div class="grid-column -xsmall-6 -medium-8">
        <input type="text" placeholder="Enter misc">
      </div>

      <div class="grid-column -xsmall-6 -medium-4">
        <button class="button">Enter Now</button>
      </div>
    </div>

    <span class="field-help">Some help text</span>
  </div>

  <div class="field">
    <label>Textarea</label>
    <textarea placeholder="textarea"></textarea>
    <span class="field-help">Some help text</span>
  </div>

  <div class="field">
    <label>Multiple options</label>
    <select name="select-multi" multiple="multiple" size="4">
      <optgroup label="Group 1">
        <option value="1">Some text goes here</option>
        <option value="2">Some text goes here</option>
        <option value="3">Some text goes here</option>
      </optgroup>
      <optgroup label="Group 2">
        <option value="4">Some text goes here</option>
        <option value="5">Some text goes here</option>
        <option value="6">Some text goes here</option>
      </optgroup>
    </select>
  </div>

  <div class="form-actions">
    <button type="submit">Submit</button>
    <input type="submit" value="Reset" />
  </div>
</form>

<br>

<pre class="dochighlight"><code class="html">
<form class="form" action="">
  <div class="field">
    <label>Email address</label>
    <input type="email" placeholder="Enter email">
    <span class="field-help">Some help text</span>
  </div>

  <div class="field">
    <label>Name</label>
    <input type="text" placeholder="Enter name">
  </div>

  <div class="field">
    <label>Password</label>
    <input type="password" placeholder="Password">
  </div>

  <div class="field">
    <label>Select Menu</label>
    <select>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
    </select>
  </div>

  <div class="field">
    <label>Checkbox options</label>
    <input type="checkbox"><label>Checkbox 1</label>
    <input type="checkbox"><label>Checkbox 2</label>
    <span class="field-help">Some help text</span>
  </div>

  <div class="field">
    <label>Radio options</label>
    <input type="radio" name="test" value="1" required><label>Radio 1</label>
    <input type="radio" name="test" value="2"><label>Radio 2</label>
  </div>

  <div class="field">
    <label>Textarea</label>
    <textarea placeholder="textarea"></textarea>
    <span class="field-help">Some help text</span>
  </div>

  <div class="field">
    <label>Multiple options</label>
    <select name="select-multi" multiple="multiple" size="4">
      <optgroup label="Group 1">
        <option value="1">Some text goes here</option>
        <option value="2">Some text goes here</option>
        <option value="3">Some text goes here</option>
      </optgroup>
    </select>
  </div>

  <div class="form-actions">
    <button type="submit">Submit</button>
    <input type="submit" value="Reset" />
  </div>
</form>
</code></pre>
