<div class="doccard-section">States</div>

<form class="form" action="">
  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field -error">
        <label>Email address</label>
        <input type="email" placeholder="Enter email">
        <span class="field-help">Some help text</span>
      </div>
    </div>

    <div class="grid-column">
      <div class="field -error">
        <label>Name</label>
        <input type="text" placeholder="Enter name">
      </div>
    </div>
  </div>

  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field -error">
        <label>Select Menu</label>
        <select>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
      </div>
    </div>

    <div class="grid-column">
      <div class="field -error">
        <label>Checkbox options</label>
        <input type="checkbox"><label>Checkbox 1</label>
        <input type="checkbox"><label>Checkbox 2</label>
      </div>
    </div>
  </div>

  <div class="field -error">
    <label>Textarea</label>
    <textarea placeholder="textarea"></textarea>
    <span class="field-help">Some help text</span>
  </div>
</form>

<form class="form" action="">
  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field -success">
        <label>Email address</label>
        <input type="email" placeholder="Enter email">
        <span class="field-help">Some help text</span>
      </div>
    </div>

    <div class="grid-column">
      <div class="field -success">
        <label>Name</label>
        <input type="text" placeholder="Enter name">
      </div>
    </div>
  </div>

  <div class="field -success">
    <label>Textarea</label>
    <textarea placeholder="textarea"></textarea>
  </div>
</form>

<pre class="dochighlight"><code class="html">
<div class="field -success">
  ...
</div>

<div class="field -error">
  ...
</div>
</code></pre>
