<div class="doccard-section">Fieldset</div>

<fieldset>
  <legend>Fieldset form</legend>

  <form class="form" action="">
    <div class="grid-row -medium-up-2">
      <div class="grid-column">
        <div class="field">
          <label>Email address</label>
          <input type="email" placeholder="Enter email">
        </div>
      </div>

      <div class="grid-column">
        <div class="field">
          <label>Name</label>
          <input type="text" placeholder="Enter name">
        </div>
      </div>
    </div>

    <div class="field">
      <label>Textarea</label>
      <textarea placeholder="textarea"></textarea>
    </div>
  </form>
</fieldset>


<pre class="dochighlight"><code class="html">
<fieldset>
  <legend>Fieldset form</legend>
  ...
</fieldset>
</code></pre>
