<div class="doccard-section">Sizes</div>

<form class="form" action="">
  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field">
        <label>Large</label>
        <input type="email" placeholder="Input field" class="-large">
      </div>
    </div>

    <div class="grid-column">
      <label>&nbsp;</label>
      <select class="-large">
        <option value="">Select</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </select>
    </div>
  </div>

  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field">
        <label>Medium</label>
        <input type="email" placeholder="Input field" class="-medium">
      </div>
    </div>

    <div class="grid-column">
      <label>&nbsp;</label>
      <select class="-medium">
        <option value="">Select</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </select>
    </div>
  </div>

  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field">
        <label>Small</label>
        <input type="email" placeholder="Input field" class="-small">
      </div>
    </div>

    <div class="grid-column">
      <label>&nbsp;</label>
      <select class="-small">
        <option value="">Select</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </select>
    </div>
  </div>
</form>
</fieldset>


<pre class="dochighlight"><code class="html">
<input type="text" class="-large">
<input type="text" class="-medium">
<input type="text" class="-small">

<select class="-large">...</select>
<select class="-medium">...</select>
<select class="-small">...</select>
</code></pre>
