<div class="doccard-section">Loading <small>Inspired by SemantiUI</small></div>

<form class="form -loading" action="">
  <div class="grid-row -medium-up-2">
    <div class="grid-column">
      <div class="field">
        <label>Email address</label>
        <input type="email" placeholder="Enter email">
        <span class="help">Some help text</span>
      </div>
    </div>

    <div class="grid-column">
      <div class="field">
        <label>Name</label>
        <input type="text" placeholder="Enter name">
      </div>
    </div>
  </div>

  <div class="field">
    <label>Textarea</label>
    <textarea placeholder="textarea"></textarea>
  </div>
</form>

<pre class="dochighlight"><code class="html">
<div class="form -loading">
  ...
</div>
</code></pre>
