<div class="doccard">
  <div class="doccard-title">
    Grid <small>Powered by Foundation</small>
  </div>

  <div class="doccard-content">
    <div class="grid-row docgrid">
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>
      <div class="grid-column -xsmall-1"><div class="docgrid-brick">1</div></div>

      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>
      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>
      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>
      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>
      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>
      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>
      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>
      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>
      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>
      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>
      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>
      <div class="grid-column -xsmall-2"><div class="docgrid-brick">2</div></div>

      <div class="grid-column -xsmall-3"><div class="docgrid-brick">3</div></div>
      <div class="grid-column -xsmall-3"><div class="docgrid-brick">3</div></div>
      <div class="grid-column -xsmall-3"><div class="docgrid-brick">3</div></div>
      <div class="grid-column -xsmall-3"><div class="docgrid-brick">3</div></div>

      <div class="grid-column -xsmall-4"><div class="docgrid-brick">4</div></div>
      <div class="grid-column -xsmall-4"><div class="docgrid-brick">4</div></div>
      <div class="grid-column -xsmall-4"><div class="docgrid-brick">4</div></div>

      <div class="grid-column -xsmall-6"><div class="docgrid-brick">6</div></div>
      <div class="grid-column -xsmall-6"><div class="docgrid-brick">6</div></div>

      <div class="grid-column -xsmall-5"><div class="docgrid-brick">5</div></div>
      <div class="grid-column -xsmall-7"><div class="docgrid-brick">7</div></div>

      <div class="grid-column -xsmall-4"><div class="docgrid-brick">4</div></div>
      <div class="grid-column -xsmall-8"><div class="docgrid-brick">8</div></div>

      <div class="grid-column -xsmall-3"><div class="docgrid-brick">3</div></div>
      <div class="grid-column -xsmall-9"><div class="docgrid-brick">9</div></div>

      <div class="grid-column -xsmall-3"><div class="docgrid-brick">3</div></div>
      <div class="grid-column -xsmall-6"><div class="docgrid-brick">6</div></div>
      <div class="grid-column -xsmall-3"><div class="docgrid-brick">3</div></div>

      <div class="grid-column -xsmall-5"><div class="docgrid-brick">5</div></div>
      <div class="grid-column -xsmall-4"><div class="docgrid-brick">4</div></div>
      <div class="grid-column -xsmall-3"><div class="docgrid-brick">3</div></div>
    </div>

<pre class="dochighlight -no-margin"><code class="html">
<div class="grid-row">
  ...

  <div class="grid-column -xsmall-4">4</div>
  <div class="grid-column -xsmall-4">4</div>
  <div class="grid-column -xsmall-4">4</div>

  <div class="grid-column -xsmall-6">6</div>
  <div class="grid-column -xsmall-6">6</div>

  <div class="grid-column -xsmall-4">4</div>
  <div class="grid-column -xsmall-8">8</div>

  <div class="grid-column -xsmall-3">3</div>
  <div class="grid-column -xsmall-9">9</div>
</div>
</code></pre>

    <div class="doccard-section">Mixed grid</div>

    <div class="grid-row docgrid">
      <div class="grid-column -xsmall-6 -small-9 -medium-5 -large-3 -xlarge-10"><div class="docgrid-brick">:)</div></div>
      <div class="grid-column -xsmall-6 -small-3 -medium-7 -large-9 -xlarge-2"><div class="docgrid-brick">:)</div></div>
    </div>

<pre class="dochighlight -no-margin"><code class="html">
<div class="grid-row">
  <div class="grid-column -xsmall-6 -small-9 -medium-5 -large-3 -xlarge-10">:)</div>
  <div class="grid-column -xsmall-6 -small-3 -medium-7 -large-9 -xlarge-2">:)</div>
</div>
</code></pre>

    <div class="doccard-section">Responsive sizes</div>

    <table>
      <thead>
        <tr>
          <td>Extra small</td>
          <td colspan="3">(< 480px)</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="10%"><strong>Prefix</strong></td>
          <td><code>-xsmall-</code></td>
          <td width="10%"><strong>Size</strong></td>
          <td>320px</td>
        </tr>
        <tr>
          <td><strong>Columns</strong></td>
          <td>12</td>
          <td><strong>Gutter</strong></td>
          <td>20px (10px each side)</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <td>Small</td>
          <td colspan="3">(≥ 480px)</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="10%"><strong>Prefix</strong></td>
          <td><code>-small-</code></td>
          <td width="10%"><strong>Size</strong></td>
          <td>480px</td>
        </tr>
        <tr>
          <td><strong>Columns</strong></td>
          <td>12</td>
          <td><strong>Gutter</strong></td>
          <td>20px (10px each side)</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <td>Medium</td>
          <td colspan="3">(≥ 768px)</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="10%"><strong>Prefix</strong></td>
          <td><code>-medium-</code></td>
          <td width="10%"><strong>Size</strong></td>
          <td>768px</td>
        </tr>
        <tr>
          <td><strong>Columns</strong></td>
          <td>12</td>
          <td><strong>Gutter</strong></td>
          <td>20px (10px each side)</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <td>Large</td>
          <td colspan="3">(≥ 960px)</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="10%"><strong>Prefix</strong></td>
          <td><code>-large-</code></td>
          <td width="10%"><strong>Size</strong></td>
          <td>960px</td>
        </tr>
        <tr>
          <td><strong>Columns</strong></td>
          <td>12</td>
          <td><strong>Gutter</strong></td>
          <td>20px (10px each side)</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <td>Extra large</td>
          <td colspan="3">(≥ 1200px)</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="10%"><strong>Prefix</strong></td>
          <td><code>-xlarge-</code></td>
          <td width="10%"><strong>Size</strong></td>
          <td>1200px</td>
        </tr>
        <tr>
          <td><strong>Columns</strong></td>
          <td>12</td>
          <td><strong>Gutter</strong></td>
          <td>30px (15px each side)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
