<div class="doccard">
  <div class="doccard-title">
    Icons <small>Powered by Font Awesome</small>
  </div>

  <div class="doccard-content panel">
    <p>
      <i class="icon -heart -fixed-width -large"></i>
      <i class="icon -file -fixed-width -large"></i>
      <i class="icon -twitter -fixed-width -large"></i>
      <i class="icon -bars -fixed-width -large"></i>
      <i class="icon -child -fixed-width -large"></i>
      <i class="icon -user -fixed-width -large"></i>
    </p>

<pre class="dochighlight"><code class="html">
<i class="icon -heart"></i>
<i class="icon -file"></i>
<i class="icon -twitter"></i>
<i class="icon -bars"></i>
<i class="icon -child"></i>
<i class="icon -user"></i>
</code></pre>

    <div class="doccard-section">Animated</div>

    <p>
      <i class="icon -spinner -spin -fixed-width -large"></i>
      <i class="icon -circle-o-notch -spin -fixed-width -large"></i>
      <i class="icon -refresh -spin -fixed-width -large"></i>
    </p>

<pre class="dochighlight"><code class="html">
<i class="icon -spinner -spin"></i>
<i class="icon -circle-o-notch -spin"></i>
<i class="icon -refresh -spin"></i>
</code></pre>

    <div class="doccard-section">Sizes</div>

    <p>
      <i class="icon -chrome -fixed-width"></i>
      <i class="icon -chrome -fixed-width -large"></i>
      <i class="icon -chrome -fixed-width -xlarge"></i>
      <i class="icon -chrome -fixed-width -xxlarge"></i>
    </p>

<pre class="dochighlight"><code class="html">
<i class="icon -chrome"></i>
<i class="icon -chrome -large"></i>
<i class="icon -chrome -xlarge"></i>
<i class="icon -chrome -xxlarge"></i>
</code></pre>
  </div>
</div>
