<div class="doccard">
  <div class="doccard-title">
    Images
  </div>

  <div class="doccard-content panel">
    <div class="grid-row -xsmall-up-2">
      <div class="grid-column">
        <figure>
          <img src="http://wallpapers.wallpapersdepo.net/free-wallpapers/1055/Beautiful-Farm.jpg" alt="Farm">
          <figcaption>
            A caption text.
          </figcaption>
        </figure>
      </div>

      <div class="grid-column">
<pre class="dochighlight"><code class="html">
<figure>
  <img />
  <figcaption>
    A caption text.
  </figcaption>
</figure>
</code></pre>
      </div>

      <div class="grid-column">
        <img src="http://wallpapers.wallpapersdepo.net/free-wallpapers/1055/Beautiful-Farm.jpg" alt="Farm">
      </div>

      <div class="grid-column">
<pre class="dochighlight"><code class="html">
<img />
</code></pre>
      </div>
    </div>
  </div>
</div>
