<div class="doccard">
  <div class="doccard-title">
    Panels
  </div>

  <div class="doccard-content panel">
    <div class="panel">
      <h3>Header A small description for this header</h3>

      <p>Maecenas mi ante, pharetra ac odio sed, porta vehicula orci. Mauris vel neque felis. Integer et bibendum ex. Mauris rhoncus a quam sed dapibus.</p>
    </div>

    <br>

<pre class="dochighlight"><code class="html">
<div class="panel">
  <h3>...</h3>
  <p>...</p>
</div>
</code></pre>
  </div>
</div>
