<div class="doccard">
  <div class="doccard-title">
    Tables
  </div>

  <div class="doccard-content panel">
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Email</th>
          <th>Github</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jon Doe</td>
          <td>jd@gmail.com</td>
          <td>@jd</td>
        </tr>
        <tr>
          <td>Eva G.</td>
          <td>eg@gmail.com</td>
          <td>@eg</td>
        </tr>
        <tr>
          <td>Hugw Grant</td>
          <td>hg@gmail.com</td>
          <td>@hg</td>
        </tr>
        <tr>
          <td>Stiv Mors</td>
          <td>sm@gmail.com</td>
          <td>@sm</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">Total Accounts</td>
          <td>4</td>
        </tr>
      </tfoot>
    </table>

<pre class="dochighlight"><code class="html">
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Email</th>
      <th>Github</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jon Doe</td>
      <td>jd@gmail.com</td>
      <td>@jd</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">Total Accounts</td>
      <td>4</td>
    </tr>
  </tfoot>
</table>
</code></pre>
  </div>
</div>
