<div class="doccard-section">Address</div>

<div class="grid-row -small-up-2">
  <div class="grid-column">
    <address>
      <strong>Address Tag</strong><br>
      PO Box 1187523<br>
      City, State 9878687<br>
      United States
    </address>
  </div>

  <div class="grid-column">
<pre class="dochighlight -no-margin"><code class="html">
<address>
  <strong>Address Tag</strong><br>
  PO Box 1187523<br>
  City, State 9878687<br>
  United States
</address>
</code></pre>
  </div>
</div>
