<div class="doccard-section">Blockquotes</div>

<blockquote>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  <br>
  <cite>Source</cite>
</blockquote>

<pre class="dochighlight"><code class="html">
<blockquote>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  <br>
  <cite>Source</cite>
</blockquote>
</code></pre>
