<div class="doccard-section">Lists</div>

<div class="grid-row -small-up-2">
  <div class="grid-column">
    <ul>
      <li>list item 1
        <ul>
          <li>list item 2</li>
          <li>list item 2
            <ul>
              <li>list item 3</li>
              <li>list item 3</li>
            </ul>
          </li>
          <li>list item 2</li>
        </ul>
      </li>
      <li>list item 1</li>
    </ul>
  </div>

  <div class="grid-column">
<pre class="dochighlight"><code class="html">
<ul>
  <li>list item 1
    <ul>
      <li>list item 2</li>...
    </ul>
  </li>
</ul>
</code></pre>
  </div>
</div>

<div class="grid-row -small-up-2">
  <div class="grid-column">
    <ol>
      <li>ordered list item 1
        <ol>
          <li>ordered list item 2</li>
          <li>ordered list item 2
            <ol>
              <li>ordered list item 3</li>
              <li>ordered list item 3</li>
            </ol>
          </li>
          <li>ordered list item 2</li>
        </ol>
      </li>
      <li>ordered list item 1</li>
    </ol>
  </div>

  <div class="grid-column">
<pre class="dochighlight"><code class="html">
<ol>
  <li>ordered list item 1
    <ol>
      <li>ordered list item 2</li>
    </ol>
  </li>
</ol>
</code></pre>
  </div>
</div>

<div class="grid-row -small-up-2">
  <div class="grid-column">
    <dl>
      <dt>Description name</dt>
      <dd>Description value</dd>
      <dt>Description name</dt>
      <dd>Description value</dd>
    </dl>
  </div>

  <div class="grid-column">
<pre class="dochighlight -no-margin"><code class="html">
<dl>
  <dt>Description name</dt>
  <dd>Description value</dd>
</dl>
</code></pre>
  </div>
</div>
