<div class="doccard-section">Paragraphs</div>

<p> Aenean at nunc sed erat consequat posuere eu euismod elit. Donec vitae interdum mauris, sed semper diam. Nam et lectus non magna egestas pretium in eu felis. Mauris vel neque felis. Integer et bibendum ex. Mauris rhoncus a quam sed dapibus.</p>
<p>Maecenas mi ante, pharetra ac odio sed, porta vehicula orci. Mauris vel neque felis. Integer et bibendum ex. Mauris rhoncus a quam sed dapibus.</p>
<hr>
<p>Maecenas mi ante, pharetra ac odio sed, porta vehicula orci. Mauris vel neque felis. Integer et bibendum ex. Mauris rhoncus a quam sed dapibus.</p>

<pre class="dochighlight"><code class="html">
<p>
  Maecenas mi ante, pharetra ac odio sed,
  porta vehicula orci.
  Mauris vel neque felis.
</p>

<hr>

<p>...</p>
</code></pre>
