<div class="doccard-section">Inline tags</div>

<table>
  <tr>
    <td><a href="">Link</a></td>
    <td><code>&lt;a&gt;</code></td>
    <td><small>small</small></td>
    <td><code>&lt;small&gt;</code></td>
  </tr>
  <tr>
    <td><abbr title="Cascading Style Sheets">CSS</abbr></td>
    <td><code>&lt;abbr&gt;</code></td>
    <td><cite>Cite</cite></td>
    <td><code>&lt;cite&gt;</code></td>
  </tr>
  <tr>
    <td><code>Code tag</code></td>
    <td><code>&lt;code&gt;</code></td>
    <td><samp>Sample tag</samp></td>
    <td><code>&lt;samp&gt;</code></td>
  </tr>
  <tr>
    <td><var>Variable tag</var></td>
    <td><code>&lt;var&gt;</code></td>
    <td><mark>Mark text</mark></td>
    <td><code>&lt;mark&gt;</code></td>
  </tr>
  <tr>
    <td><kbd>Shortcut</kbd></td>
    <td><code>&lt;kbd&gt;</code></td>
    <td><del>Deleted</del></td>
    <td><code>&lt;del&gt;</code></td>
  </tr>
  <tr>
    <td><i>Italic</i></td>
    <td><code>&lt;i&gt;</code></td>
    <td><em>Emphasis</em></td>
    <td><code>&lt;em&gt;</code></td>
  </tr>
  <tr>
    <td><strong>Highlighted</strong></td>
    <td><code>&lt;strong&gt;</code></td>
    <td><b>Bold</b></td>
    <td><code>&lt;b&gt;</code></td>
  </tr>
  <tr>
    <td>x<sup>superscript</sup></td>
    <td><code>&lt;sup&gt;</code></td>
    <td>x<sub>subscript</sub></td>
    <td><code>&lt;sub&gt;</code></td>
  </tr>
</table>

<pre class="dochighlight"><code class="html">
<a href="">Link</a>     <small>small</small>
<cite>Cite</cite>       <abbr title="Cascading Style Sheets">CSS</abbr>
<code>Code tag</code>   <samp>Sample tag</samp>
<var>Variable tag</var> <mark>Mark text</mark>
<kbd>Shortcut</kbd>     <del>Deleted</del>
<i>Italic</i>           <em>Emphasis</em>
<b>Bold</b>             <strong>Highlighted</strong>
x<sup>sup</sup>         x<sub>sub</sub>
</code></pre>
