<div class="doccard-section">Preformatted text</div>

<pre>Lorem ipsum dolor sit amet, <code>consectetur</code> adipisicing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua.</pre>

<pre class="dochighlight"><code class="html">
<pre>Lorem ipsum dolor sit amet,<code>consectetur</code> adipisicing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua.</pre>
</code></pre>
