<div class="doccard">
  <div class="doccard-title">
    Visibility <small>Powered by Foundation</small>
  </div>

  <div class="doccard-content panel">
    <p style="line-height: 2.5rem">
      <button class="button -small -hollow -show-for-xsmall">show for extra small and up</button>
      <button class="button -small -hollow -show-for-small">show for small and up</button>
      <button class="button -small -hollow -show-for-medium">show for medium and up</button>
      <button class="button -small -hollow -show-for-large">show for large and up</button>
      <button class="button -small -hollow -show-for-xlarge">show for xlarge and up</button>
    </p>

    <p style="line-height: 2.5rem">
      <button class="button -small -hollow -hide-for-small">hide for small and up</button>
      <button class="button -small -hollow -hide-for-medium">hide for medium and up</button>
      <button class="button -small -hollow -hide-for-large">hide for large and up</button>
      <button class="button -small -hollow -hide-for-xlarge">hide for extra large and up</button>
    </p>

    <p style="line-height: 2.5rem">
      <button class="button -small -hollow -show-for-xsmall-only">show for extra small only</button>
      <button class="button -small -hollow -show-for-small-only">show for small only</button>
      <button class="button -small -hollow -show-for-medium-only">show for medium only</button>
      <button class="button -small -hollow -show-for-large-only">show for large only</button>
      <button class="button -small -hollow -show-for-xlarge">show for extra large only</button>
    </p>

    <p style="line-height: 2.5rem">
      <button class="button -small -hollow -hide-for-xsmall-only">hide for extra small only</button>
      <button class="button -small -hollow -hide-for-small-only">hide for small only</button>
      <button class="button -small -hollow -hide-for-medium-only">hide for medium only</button>
      <button class="button -small -hollow -hide-for-large-only">hide for large only</button>
      <button class="button -small -hollow -hide-for-xlarge">hide for extra large only</button>
    </p>

<pre class="dochighlight"><code class="html">
<button class="-show-for-xsmall-only">show for extra small only</button>
<button class="-show-for-small-only">show for small only</button>
<button class="-show-for-medium-only">show for medium only</button>
<button class="-show-for-large-only">show for large only</button>
<button class="-show-for-xlarge">show for extra large only</button>

<button class="-hide-for-xsmall-only">hide for extra small only</button>
<button class="-hide-for-small-only">hide for small only</button>
<button class="-hide-for-medium-only">hide for medium only</button>
<button class="-hide-for-large-only">hide for large only</button>
<button class="-hide-for-xlarge">hide for extra large only</button>

<button class="-show-for-xsmall">show for extra small and up</button>
<button class="-show-for-small">show for small and up</button>
<button class="-show-for-medium">show for medium and up</button>
<button class="-show-for-large">show for large and up</button>
<button class="-show-for-xlarge">show for xlarge and up</button>

<button class="-hide-for-small">hide for small and up</button>
<button class="-hide-for-medium">hide for medium and up</button>
<button class="-hide-for-large">hide for large and up</button>
<button class="-hide-for-xlarge">hide for extra large and up</button>
</code></pre>
  </div>
</div>
